includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 9
	phpVersion: 80100

	tmpDir: %currentWorkingDirectory%/var/tmp/phpstan

	fileExtensions:
		- php
		- phpt

	paths:
		- app
		- config
