# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Extension ============================
extensions:

# ======================================
# Services =============================
services:
	# myservice: App\Model\MyService
